<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web Blog</title>
</head>
<body>
    <!--nav bar-->
    <%- include('partials/header') %>
    <h1>Hiii from index.js</h1>
    <ul> 
        <!--list og blog posts-->

    </ul>
  <!-- footer-->
   <%- include('partials/footer') %>
</body>
</html>